<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  function OnSubmit(){
    var radio = document.getElementsByName("delete");
    for(var i=0;i<radio.length;i++){
      if(radio[i].checked){
       var act = document.getElementById("submitForm").action + "/name/"+ radio[i].value;
        $.ajax({
	  url: act,
	  type: 'DELETE',
	  //data: "name=John&location=Boston",
	  success: function(data) {
	    alert(data);
	    document.location.href='/display';
	  }
        });
      }
    }
  }
</script>
<head>
<title>Search Restaurant</title>
</head>
<body>
<form name='submitForm' id='submitForm' action="/deleteRest" align="center">
<table border='1'>
  <tr><th>Name</th><th>Delete</th></tr>
  <% for(var i=0; i<restResult.length; i++){ %>
        <% if(restResult[i].name != null){ %>
          <tr><td id='dataName'><a href='/update/<%= restResult[i].name%>'><%= restResult[i].name %></a></td><td><input name='delete' type='radio' value='<%= restResult[i].name %>'/></tr>
        <% } %>
  <% } %>
</table>
<p align='left'><input type='button' value='submit' Onclick='OnSubmit()'/></p>
</form>
</body>
</html>
