<html>
<head>
<title>Show Restaurant Registration</title>
<link rel="stylesheet" type="text/css" href="http://localhost:3081/main.css"/>
</head>
<body>
<H2 align="center">Matching Documents = 0</H2>
<br>
<form action="/deleteRest" method=get>
<table border="1" cellpadding="5" cellspacing="5" align="center"">
<caption>Restaurant Registration</caption>
	<tr><th>Name</th><th>DELETE</th></tr>
	
</table>
<p style="text-align:center">
<br>

</form>
<p align="center">
<a href="/">Go Home</a>
</p>
</body>
</html>
