<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  function OnSubmit(){
    var oldName = document.getElementById("txtName").name;
    var newName = document.getElementById("txtName").value;
    var link = "/updateRest/name/" + oldName + "/newName/" + newName;
console.log(link);
    $.ajax({
	  url: link,
	  type: 'PUT',
	  success: function(data) {
	    alert('PUT was performed.');
	    document.location.href="/display";
	  }
    });
  }
</script>
<head>
<title>Update Restaurant</title>
</head>
<body>
  <% for(var i=0; i<restResult.length; i++){ %>
        <% if(restResult[i].name != null){ %>
          <p>Name: <input type='text' value='<%= restResult[i].name %>' name='<%= restResult[i].name %>' id='txtName' /></p>
        <% } %>
  <% } %>
<p align='left'><input type='button' value='submit' Onclick='OnSubmit()'/></p>
</body>
</html>
